@import url('global.css');

main {
    background: url(../images/background-movies-series.png);
    object-fit: cover;
    object-position: center;
}

form{
    background: var(--form-field-br-color);
    width: 100%;
}

.login-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    background: var(--form-bg-color);
    width: 60%;
    height: 22rem;
    border-radius: 10px;
    margin: auto;
    padding: 1rem 3rem;
}

.login-section h2{
    align-self: center;
}

.btn-links{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
}

.form_{
    width: 100%;
}

input{
    background: var(--form-field-br-color);
    padding: .7rem 1rem .7rem 1rem;
    border-radius: 5px;
    color:var(--text-color);
    border: 1px solid var(--form-field-placeholder);
    width: 100%;
    max-width: 41.8rem;
}   

input::placeholder{
    color: var(--form-field-placeholder);
    
}   
input:invalid{
    border: 1px solid var(--form-field-error);
}

