@import url('global.css');


.icons{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

header::after{
    content:'';
    display: flex;
    width: 100%;
    height: 6rem;
   }  

header{
    /* background: linear-gradient(transparent,var(--tertiary-color)); */
}
.note{
    max-width: 300px;
    margin: auto;
}

.lighter{
    font-weight: lighter;
    font-size: 1.6rem;
}

#bar{
    background: var(--divider-bg-color);
    width: 36rem;
    height: .3rem;
    border-radius: 8px;
    margin: auto;
}

.cover p:first-of-type{
    margin-bottom: 0;
}

.cover p:nth-of-type(2){
    margin-top: 0;
}

header strong {
    font-size: 2.3rem;
}

.text-small{
    font-size:1rem;
}

.subscription h2{
    font-size: 1.9rem;
    padding: 2rem;
}

.plan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    gap: 4rem;
}

.card {
    width: 25rem;
    background:var(--card-bg-color);
    border-radius: 10px;
    padding: 1rem;
    transition: transform 0.7s ease-in-out;
}

.card p{
    text-align: end;
}

.card ::marker{
    content: '+ ';
    font-size: 2rem;
}

.card strong{
    font-size: 1.6rem;
    color: var(--secondary-color);
    }

.card:last-of-type:hover{
    transform: matrix3d(
        1, 0, 0, -0.0007,
        0, 1, 0, 0,
        0, 0, 1, 0,
        0, 0, 0, 1
);
}

.card:first-of-type:hover{
        transform:matrix3d(
        1, 0, 0, 0.0007,
        0, 1, 0, 0,
        0, 0, 1, 0,
        0, 0, 0, 1
);
}

.plan h3{
    margin: 1rem 2rem 0;
    font-weight: bolder ;
    /* font-size: 1.5rem; */
}

.plan p{
    margin: 0 0 1rem;
}

.content-gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 10rem;
}

.content-gallery img {
    width: 20rem;
    padding: 1rem;
    transition: opacity 0.3s ease;
}

.content-gallery img:hover {
    border: 2px solid var(--tertiary-color);
    /* scale: .9 ; */
    transition:.2s ease;
    opacity: 0; 
}

.content-gallery div{
    position: relative;
    overflow: hidden;
}

.content-gallery div:nth-child(1):hover{
    background: url("../images/hbo-hover_0.webp");
    background-size: cover;
}

.content-gallery div:nth-child(1):hover{
    background: url("../images/hbo-hover_0.webp");
    background-size: cover;
}

.content-gallery div:nth-child(2):hover{
    background: url("../images/MAX-Hover.webp");
    background-size: cover;
}

.content-gallery div:nth-child(3):hover{
    background: url("../images/DC-Hover.webp");
    background-size: cover;
}

.content-gallery div:nth-child(4):hover{
    background: url("../images/WB-Hover.webp");
    background-size: cover;
}

.content-gallery div:nth-child(5):hover{
    background: url("../images/CN-Hover.png");
    background-size: cover;
}
.content-gallery div:nth-child(6):hover{
    background: url("../images/UCL-Hover.webp");
    background-size: cover;
}

.btn-general:hover{
    scale: 1.03 ;
}

.btn-card{
    margin: 1rem 1rem 1rem 1.6rem;
}

#btn-card--margin{
    margin-top: 4rem;
}
