@import url('global.css');


.icons{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

header{
    /* background: linear-gradient(transparent,var(--tertiary-color)); */
}
.note{
    max-width: 300px;
    margin: auto;
}

.lighter{
    font-weight: lighter;
    font-size: 1.6rem;
}

#bar{
    background: var(--divider-bg-color);
    width: 36rem;
    height: .3rem;
    border-radius: 8px;
    margin: auto;
}

.cover p:first-of-type{
    margin-bottom: 0;
}

.cover p:nth-of-type(2){
    margin-top: 0;
}

header strong {
    font-size: 2.3rem;
}

.text-small{
    font-size:1rem;
}

.subscription h2{
    font-size: 1.9rem;
    padding: 2rem;
}

.plan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    gap: 4rem;
}

.card {
    width: 25rem;
    background:var(--card-bg-color);
    border-radius: 10px;
    padding: 1rem;
}

.card ::marker{
    content: '+ ';
    font-size: 2rem;
}

.card p{
    text-align: end;
}

.card strong{
    font-size: 1.6rem;
    color: var(--secondary-color);
    }

.plan h3{
    margin: 1rem 2rem 0;
    font-weight: bolder ;
    /* font-size: 1.5rem; */
}

.plan p{
    margin: 0 0 1rem;
}

.access img {
    width: 20rem;
    padding: 1rem;
}

#content {
    margin-bottom: 3rem;
    margin-top: 10rem;
}

button {
    box-shadow: 90px;
}